<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>書單詳情</title>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">


    <link rel="stylesheet" th:href="@{/css/bootstrap.css}"  href="../static/css/bootstrap.css">
</head>
<body th:object="${book}">
    <div class="container" style="max-width: 700px">
        <h2 class="page-header" style="margin-top: 50px">詳 情</h2>
        <div class="well">
            <p>
                <strong>書名： </strong><span th:text="*{name}"></span>
            </p>
            <p>
                <strong>作者： </strong><span th:text="*{author}"></span>
            </p>
            <p>
                <strong>說明： </strong><span th:text="*{description}"></span>
            </p>
            <p th:switch="*{status}">
                <strong>狀態： </strong>
                    <span th:case="0">想讀</span>
                    <span th:case="1">在讀</span>
                    <span th:case="2">已讀</span>
            </p>
            <div class="alert alert-success" th:unless="*{status == 0}">
                <strong>不錯喔</strong> 你已經開始行動了
            </div>
            <div class="alert alert-waring" th:if="*{status == 0}">
                <strong>注意</strong> 你還沒開始行動
            </div>
        </div>
        <a href="javascript:history.go(-1)" class="btn btn-primary">返回</a>
    </div>

    <!-- Option 1: jQuery and Bootstrap Bundle (includes Popper) -->
    <script th:href="@{/js/bootstrap.js}" src="../static/js/bootstrap.js"></script>
</body>
</html>